:root {
    --outside-color-border: rgb(114, 83, 155);
}

@font-face {
    font-family: 'lobster_two';
    src: url('fonts/lobstertwo-bold-webfont.woff2') format('woff2'),
        url('fonts/lobstertwo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_two';
    src: url('fonts/lobstertwo-regular-webfont.woff2') format('woff2'),
        url('fonts/lobstertwo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'materegular';
    src: url('fonts/mate-regular-webfont.woff2') format('woff2'),
        url('fonts/mate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    margin-top: 120px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

#tableDiv {}

#formDiv {}

table {
    /* border-collapse: collapse; */
    border-spacing: 0;
    text-align: center;
}


th,
td {
    border: none;
    padding: 18px 0px;
    width: 280px;
    font-size: 18px;
}

td {
    border-bottom: 2px solid var(--outside-color-border);
    color: rgb(54, 0, 104);
    font-family: "materegular";

}

th {
    padding: 24px 0px;
    font-size: 22px;
    font-family: 'lobster_two';
    font-weight: bold;
    border-bottom: 4px solid var(--outside-color-border);
    border-top: 8px solid var(--outside-color-border);
    color: white;
}

tr td:first-child,
tr th:first-child {
    border-left: 8px solid var(--outside-color-border);

}


tbody tr:last-child td {
    border-bottom: 8px solid var(--outside-color-border);
}


tbody tr td:last-child,
tbody tr td:nth-last-child(2),
thead tr th:last-child,
thead tr th:nth-last-child(2) {

    width: 180px;
}



thead tr th:last-child,
tbody tr td:last-child {
    border-right: 8px solid var(--outside-color-border);
}

dialog {
    margin: auto;
}

tr th:nth-child(3),
tr td:nth-child(3),
tr th:nth-child(4),
tr td:nth-child(4) {
    width: 200px;
}

thead tr th:first-child {
    border-top-left-radius: 18px;
}

thead tr th:last-child {
    border-top-right-radius: 18px;
}

tbody tr:last-child .title {
    border-bottom-left-radius: 18px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 18px;
}

thead tr {
    background-color: var(--outside-color-border);
}

tbody tr:nth-child(2n) {
    background-color: rgb(245, 231, 255);
}

tbody tr:nth-child(2n-1) {
    background-color: rgb(255, 245, 254);
}

.changeBtn {
    color: rgb(219, 177, 255);
    /* font-weight: bold; */
    background-color: transparent;
    border: none;
    border-radius: 16px;
    padding: 4px 8px;
    font-family: "materegular";
    font-size: 16px;
}

tbody tr:nth-child(2n) .changeBtn {
    color: rgb(175, 175, 255);
}

.changeBtn:hover {
    cursor: pointer;
    background: var(--outside-color-border);
}

.deleteBtn {
    border: none;
    padding: 5px 12px;
    background-color: var(--outside-color-border);
    border-radius: 15px;
    color: aliceblue;
    /* font-weight: bold; */
    font-family: "materegular";
    font-size: 16px;

}

.deleteBtn:hover {
    cursor: pointer;
    background-color: rgb(212, 47, 83);
}

#no {
    background-color: rgba(255, 91, 91, 0.3);
}

#yes {
    background-color: rgba(122, 255, 95, 0.3);
}

#form {
    padding: 25px 45px 25px 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(119, 194, 255);
    flex: 1;
}

.formRow input {
    width: 180px;
    height: 28px;
    font-size: 17px;
    font-family: "materegular";
    padding: 6px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
}

.formRow label {
    width: 100px;
    text-align: start;
}

.formRow {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
}



#form div:nth-last-child(2) {
    margin: 10px 0;
    /* margin-left: -115px; */
}

select,
::picker(select) {
    appearance: base-select;
}

select::picker-icon {
    color: blueviolet;
}

select {

    padding: 3px 7px;
    font-size: 15px;
    transition: 0.2s;
    min-width: 65px;
    background-color: aliceblue;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 10px;
}

select:hover {
    background-color: rgb(222, 214, 255);
}

::picker(select) {
    border: none;
    opacity: 0;
    transition: all 0.2s allow-discrete;

}


::picker(select):popover-open {
    opacity: 1;
}

option {
    padding: 3px 7px;
    border: 1px rgb(170, 170, 170) solid;
}

option:hover,
option:focus {
    background-color: rgb(222, 214, 255);
}

legend {
    font-size: 18px;
    font-weight: bold;
}



dialog {
    border: 2px solid rgb(62, 116, 160);
    border-radius: 15px;
    background-color: transparent;
    transition: 2s;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.363);

}

.btnsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}